# Exclude folders
overrides/saves/
CreateArcaneEngineeringblabla/
ArcaneTrailer/
overrides/plugins/
overrides/mods/
overrides/logs/
overrides/crash-reports/
overrides/modernfix/
overrides/lightspeed/
overrides/backups/
overrides/screenshots/
overrides/local/
overrides/lightspeed-cache/
overrides/kubejs/probe/
# Exclude individual files
overrides/.vscode/probe.code-snippets
overrides/config/antiqueatlas.json5
overrides/config/byg/backups/last_working_configs_backup.zip
overrides/config/byg/end-biomes.json5
overrides/config/byg/nether-biomes.json5
overrides/config/createaddition-common.toml
overrides/config/custommachinery.toml
overrides/config/defaultoptions-common.toml
overrides/config/drippyloadingscreen/config.cfg
overrides/config/fancymenu/config.txt
overrides/config/fancymenu/extensions/fmaudio/config.cfg
overrides/config/fancymenu/extensions/fmaudio/locals/en_us.local
overrides/config/fancymenu/extensions/fmvideo/config.cfg
overrides/config/fancymenu/extensions/fmvideo/locals/en_us.local
overrides/config/fancymenu/locals/de_de.local
overrides/config/fancymenu/locals/en_us.local
overrides/config/fancymenu/locals/pl_pl.local
overrides/config/fancymenu/locals/pt_br.local
overrides/config/fancymenu/locals/ru_ru.local
overrides/config/fancymenu/locals/uk_ua.local
overrides/config/fancymenu/locals/zh_cn.local
overrides/config/fancyvideo-api.cfg
overrides/config/farmersdelight-common.toml
overrides/config/farsight-common.toml
overrides/config/ftbbackups2.json
overrides/.vscode/probe.class-definitions.json
overrides/.vscode/probe.doc-schema.json
overrides/.vscode/probe.lang-schema.json
overrides/.vscode/settings.json
overrides/config/antiqueatlas.json5
overrides/config/appliedenergistics2/client.json
overrides/config/appliedenergistics2/common.json
overrides/config/byg/backups/last_working_configs_backup.zip
overrides/config/byg/end-biomes.json5
overrides/config/byg/nether-biomes.json5
overrides/config/chunksending.json
overrides/config/createaddition-common.toml
overrides/config/custommachinery.toml
overrides/config/drippyloadingscreen/config.cfg
overrides/config/fancymenu/config.txt
overrides/config/fancymenu/extensions/fmaudio/config.cfg
overrides/config/fancymenu/extensions/fmaudio/locals/en_us.local
overrides/config/fancymenu/extensions/fmvideo/config.cfg
overrides/config/fancymenu/extensions/fmvideo/locals/en_us.local
overrides/config/fancymenu/locals/de_de.local
overrides/config/fancymenu/locals/en_us.local
overrides/config/fancymenu/locals/pl_pl.local
overrides/config/fancymenu/locals/pt_br.local
overrides/config/fancymenu/locals/ru_ru.local
overrides/config/fancymenu/locals/uk_ua.local
overrides/config/fancymenu/locals/zh_cn.local
overrides/config/fancyvideo-api.cfg
overrides/config/farmersdelight-common.toml
overrides/config/ftbbackups2.json
overrides/config/jei/ingredient-list-mod-sort-order.ini
overrides/config/jei/recipe-category-sort-order.ini
overrides/config/konkrete/locals/de_de.local
overrides/config/konkrete/locals/en_us.local
overrides/config/konkrete/locals/pl_pl.local
overrides/config/konkrete/locals/pt_br.local
overrides/config/lootr-common.toml
overrides/config/modernfix-mixins.properties
overrides/config/oculus.properties
overrides/config/pneumaticcraft/ArmorFeatureStatus.cfg
overrides/config/pneumaticcraft/MicromissileDefaults.cfg
overrides/config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
overrides/config/pneumaticcraft/ProgrammingPuzzleBlacklist.cfg
overrides/config/pneumaticcraft/thirdparty.cfg
overrides/config/redirectionor-mixins.properties
overrides/config/rubidium-options.json
overrides/config/smoothboot.json
overrides/config/toastcontrol-common.toml
overrides/fancymenu_data/last_world.fmdata
overrides/fancymenu_instance_data/extensions/fmaudio/muted_audio_items.properties
overrides/instance.json
overrides/knownkeys.txt
overrides/kubejs/assets/ponderjs_generated/lang/en_us.json
overrides/ldlib/pack.mcmeta
overrides/libvlc.dll
overrides/libvlccore.d
overrides/options.txt
overrides/patchouli_data.json
overrides/resourcepacks/Infernal Resources.zip
overrides/resourcepacks/Quark Programmer Art.zip
overrides/rhino.local.properties
overrides/servers.dat
overrides/shaderpacks/Complementary_Reimagined_r2.1.zip.txt
overrides/usercache.json
overrides/usernamecache.json
overrides/WailaErrorOutput.txt
overrides/schematics/uploaded/FortnitePro420Xx/unassembled_hephaesthus_forge.nbt
overrides/servers.dat_old
overrides/config/ChunkyMcChunkFace-common.toml
overrides/config/sophisticatedstorage-client.toml
overrides/config/byg/backups/last_working_configs_backup.zip
overrides/ESM/soundsMuffled.dat
overrides/ESM/Minecraft Server/anchors.dat
overrides/schematics/s.nbt
overrides/schematics/sick.nbt
overrides/shaderpacks/ComplementaryReimagined_r2.3/HOW TO INSTALL.txt
overrides/config/byg/backups/last_working_configs_backup.zip
overrides/config/forgeendertech/cached.dat
overrides/schematics/cae_violet.nbt
overrides/schematics/uploaded/FortnitePro420Xx/cae_violet.nbt
overrides/config/ftbquests/quests/chapters/chaotic_catastrophy.snbt
overrides/config/ftbquests/quests/chapters/chaotic_catastrophy.snbt
overrides/config/ftbquests/quests/chapters/chaotic_catastrophy.snbt
overrides/libvlccore.dll
